/**
* Lightbox
*/
@keyframes openLightbox {
    from {
        scale: 0; /* échelle de 0 (invisible) */
  }
  to {
    scale: 1; /* échelle de 1 (taille normale) */
  }
}


#lightbox[open] {
padding: 50px;/* Ajoute un padding de 50px autour de l'élément */
animation: openLightbox 0.5s;/* Applique l'animation "openLightbox" sur 0.5 secondes */
border-radius: 20px;/* Arrondit les coins de l'élément avec un rayon de 20px */
border: 5px solid rgb(39, 17, 80);/* Ajoute une bordure de 5px d'epaisseur de couleur bleu foncé */
}

#lightbox[open]::backdrop {
background-color: rgb(159, 110, 50);/* Définit la couleur de fond*/
opacity: 0.8;/* Définit l'opacité à 0.8 (80%) */
transition: ease 4;/* Applique une transition en sur 4 secondes */
}

#lightbox img {
width: 60vw;/* largeur de l'image = 60% de la largeur de la fenêtre */
height: auto/* Ajuste automatiquement la hauteur */
}